<div class="register-wrapper">
  <div class="register-container">
    <h2>Register</h2>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="register-form">
      <!-- Email -->
      <p *ngIf="registrationErrorText" class="errorText">
        {{ registrationErrorText }}
      </p>

      <div class="form-group">
        <input
          type="string"
          id="firstname"
          name="firstname"
          ngModel
          [(ngModel)]="firstName"
          required
          placeholder="First name"
          class="input-field"
        />
      </div>

      <div class="form-group">
        <input
          type="string"
          id="lastname"
          name="lastname"
          ngModel
          [(ngModel)]="lastName"
          required
          placeholder="Last name"
          class="input-field"
        />
      </div>

      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          [(ngModel)]="email"
          required
          placeholder="Email"
          class="input-field"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          [(ngModel)]="password"
          required
          placeholder="Password"
          class="input-field"
          (input)="checkPasswordStrength(password)"
          [(ngModel)]="password"
        />
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <input
          type="password"
          id="confirm-password"
          name="confirmPassword"
          ngModel
          [(ngModel)]="confirmPassword"
          required
          placeholder="Confirm Password"
          class="input-field"
        />
      </div>

      <!-- Password strength indicator -->
      <div class="progress-bar-container">
        <div
          class="progress-bar"
          [ngClass]="{
              weak: strengthLevel === 1,
              moderate: strengthLevel === 2,
              strong: strengthLevel === 3,
              veryStrong: strengthLevel > 3
            }"
          [style.width]="strengthLevel * 20 + '%'"
        ></div>
      </div>
      <div class="password-strength">
        <p class="password-strength__classifier">{{ passwordStrength }}</p>
        <mat-checkbox
          [checked]="showPasswordTips"
          (change)="showPasswordTips = !showPasswordTips"
          >Show tips</mat-checkbox
        >
      </div>

      <div class="tips-wrapper" *ngIf="showPasswordTips">
        <div class="tips-wrapper__tip-container">
          <mat-icon
            fontIcon="done"
            style="color: green"
            *ngIf="numberCriteria"
          ></mat-icon>
          <mat-icon
            fontIcon="close"
            style="color: red"
            *ngIf="!numberCriteria"
          ></mat-icon>
          <p
            [ngClass]="
                numberCriteria ? 'satisfied-criteria' : 'unsatisfied-criteria'
              "
          >
            Your password should have at least 1 number.
          </p>
        </div>
        <div class="tips-wrapper__tip-container">
          <mat-icon
            fontIcon="done"
            style="color: green"
            *ngIf="uppercaseCriteria"
          ></mat-icon>
          <mat-icon
            fontIcon="close"
            style="color: red"
            *ngIf="!uppercaseCriteria"
          ></mat-icon>
          <p
            [ngClass]="
                uppercaseCriteria ? 'satisfied-criteria' : 'unsatisfied-criteria'
              "
          >
            Your password should have at least 1 uppercase character.
          </p>
        </div>
        <div class="tips-wrapper__tip-container">
          <mat-icon
            fontIcon="done"
            style="color: green"
            *ngIf="lowercaseCriteria"
          ></mat-icon>
          <mat-icon
            fontIcon="close"
            style="color: red"
            *ngIf="!lowercaseCriteria"
          ></mat-icon>
          <p
            [ngClass]="
                lowercaseCriteria ? 'satisfied-criteria' : 'unsatisfied-criteria'
              "
          >
            Your password should have at least 1 lowercase character.
          </p>
        </div>
        <div class="tips-wrapper__tip-container">
          <mat-icon
            fontIcon="done"
            style="color: green"
            *ngIf="lengthCriteria"
          ></mat-icon>
          <mat-icon
            fontIcon="close"
            style="color: red"
            *ngIf="!lengthCriteria"
          ></mat-icon>
          <p
            [ngClass]="
                lengthCriteria ? 'satisfied-criteria' : 'unsatisfied-criteria'
              "
          >
            Your password should have at least 8 characters.
          </p>
        </div>
        <div class="tips-wrapper__tip-container">
          <mat-icon
            fontIcon="done"
            style="color: green"
            *ngIf="specialCharCriteria"
          ></mat-icon>
          <mat-icon
            fontIcon="close"
            style="color: red"
            *ngIf="!specialCharCriteria"
          ></mat-icon>
          <p
            [ngClass]="
                specialCharCriteria
                  ? 'satisfied-criteria'
                  : 'unsatisfied-criteria'
              "
          >
            Your password should have at least 1 special character(#?/!).
          </p>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="!getFormStatus" class="submit-btn">
        <ng-container *ngIf="loading; else loginText">
          <div class="spinner"></div>
        </ng-container>
        <ng-template #loginText> register </ng-template>
      </button>

      <p class="already-account">
        Already have an account? <a [routerLink]="['/login']">Login here</a>
      </p>
    </form>
  </div>
</div>
